@model GlutenFreeVictuals.Models.Measurement
@{
    ViewData["Title"] = "Measurement Converter";
}
<!DOCTYPE html>
<html>
<head>
<script src="~/js/site.js"></script>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Type</th>
                    <th>Conversions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        Weight:
                        <input name="Weight" id="weightInput" type="number" step=".1"/>

                    </td>
                    <td>
                        <select name="Weight Types" id="weightType">
                            <option value="ounces">Ounces</option>
                            <option value="pounds">Pounds</option>
                            <option value="grams">Grams</option>
                            <option value="kilograms">Kilograms</option>
                        </select>
                        <br><br>

                    </td>
                    <td id="weightConversions">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        Volume:
                        <input name="Volume" id="volumeInput" type="number" step=".1"/>

                    </td>
                    <td>
                        <select name="Volume Types" id="volumeType">
                            <option value="milliliters">Milliliter</option>
                            <option value="liters">Liter</option>
                            <option value="ounces">Ounces</option>
                            <option value="pints">Pints</option>
                        </select>
                        <br><br>

                    </td>
                    <td id="volumeConversions">
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <button type="button" onclick="convert()">Get Conversions</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
    
</html>



